<launch>

    <!-- Cargar el URDF en el servidor de parámetros de ROS -->
    <param name="robot_description" command="$(find xacro)/xacro $(find robot_tutorial)/robot/mobile_robot.urdf.xacro" />

    <!-- Enviar valores falsos de las articulaciones -->
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" />

    <!-- Iniciamos robot_state_publisher para publicar las tranformaciones tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 
        output="screen">
		<param name="publish_frequency" type="double" value="5.0" />
    </node>

     <!-- Iniciamos rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_tutorial)/launch/robot.rviz" />

</launch>